
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
   --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;

  --color-primary: white;
  --color-secondary: #FBBF24;
  --color-background: #0F172A;
  --color-foreground: #FFFFFF;
}


html {
  scroll-behavior: smooth;
}

::selection {
  color: hsl(var(--primary-foreground)) !important;
  background: hsl(var(--secondary)) !important;
}

/* Customize color for the Section Heading */
.section-heading-override h1 {
  color: #f59e0b;
}

.section-heading-override h3 {
  color: #0078bd;
}

.section-heading-override p {
  color: #45556b;
}

.section-heading-oz p {
  color: white;

}